@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100;400;700;900&display=swap');


.ctaSection {
  font-family: 'Science Gothic', sans-serif;
  padding: 5rem 2rem;
  text-align: center;
  background-image:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('../assets/paris.jpg');
  background-size: cover;
  background-position: bottom;
  color: #fff; /* change to white for better contrast */
}


.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.ctaButton {
  display: inline-block;
  background: #fff;
  color: #0078ff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  border: 1px solid #0078ff;
  transition: transform 0.2s ease;
}

.ctaButton:hover {
  background: #e6f0ff;
  transform: translateY(-3px);
}
