.header {
  width: 100%;
  padding: 10px 0;
  background: #f9f9f944;
  position: static;
}

.container {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  font-size: 16px;
  color: #44e782ff;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: color .3s ease;
  border-bottom: 2px solid transparent;
}

.link:hover {
  border-bottom: 2px solid #44e782ff;
  color: #44e782ff;
}

.contactBtn {
  padding: 10px 20px;
  background: #007bff;
  color: #fff !important;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background .3s ease;
}

.contactBtn:hover {
  background: #005fcc;
}
