@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100;400;700;900&display=swap');


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #ffffff8f;
}

.logoImg {
  height: 70px;
  width: auto;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.nav a {
  font-family: 'Science Gothic', sans-serif;
  color:  #0e1a2b;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  
}
.nav a:hover {
  border-bottom: 2px solid #0e1a2b;
}

.header.scrolled .nav a {
  color: black;
}

.contactBtn {
  font-family: 'Science Gothic', sans-serif;
  padding: 8px 22px;
  background: #00bfff;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition: background 0.3s ease;
}

.contactBtn:hover {
  background: #49d8ffff;
}

@media (max-width: 1024px) {
  .header { padding: 15px 25px; }
  .logoImg { height: 60px; }
  .nav { gap: 20px; }
}

@media (max-width: 768px) {
  .header { padding: 12px 20px; }
  .nav { display: none; }
}
